.env
**/secrets/
**/private/
**/data/
**/logs/
**/*.log
**/backup/
**/backups/
.DS_Store
*.tmp
*.swp
.vscode/
.idea/
**/acme.json
**/certs/
**/*.key
**/*.pem
**/*.crt
**/db/
**/*.sqlite*
**/*.wt
mongod.lock
config/acme.json
